extends ../../core/pid
include ../../metro-lcd/templates/service-list

block head
  link(rel='stylesheet' href=`${pidStaticBase}/css/colours.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/test/service-list-test.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/templates/service-list.css`)

block scripts
  script(src=`${pidStaticBase}/scripts/metro-lcd/service-list.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/service-list-area.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/header.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/clock.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/pid-utils.mjs` type='module')
  script.
    window.onload = () => {
      const FSS = new CompactMultiServiceList('Flinders Street', '', 7)
      const CLP = new CompactMultiServiceList('City Loop', 'Parliament, Melbourne Central, Flagstaff', 1)

      const header = new Header('Trains from Richmond to:')
      const area = new ServiceListArea([
        new HalfServiceListArea([
          FSS
        ], 'left'),
        new HalfServiceListArea([
          CLP, new MountableClock('h:mm:ss a')
        ], 'right')
      ])

      header.mount('div.pid')
      area.mount('div.pid')

      FSS.updateServices([{
        platform: '7', estTime: 2, line: 'lilydale'
      }, {
        platform: '3', estTime: 5, line: 'frankston'
      }, {
        platform: '1', estTime: 9, line: 'sandringham'
      }, {
        platform: '3', estTime: 15, line: 'frankston'
      }, {
        platform: '8', estTime: 19, line: 'lilydale'
      }, {
        platform: '7', estTime: 21, line: 'lilydale'
      }, {
        platform: '3', estTime: 26, line: 'frankston'
      }])

      CLP.updateServices([{
        platform: '5', estTime: 2, line: 'pakenham'
      }])
    }
 
block pid
  +compactMultiServiceListTemplate()

  div.pid.pid-16-9.landscape.light.rmd