extends ../core/pid

block head
  link(rel='stylesheet' href=`${pidStaticBase}/css/colours.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/full-pid-base.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/platform.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/pre-plat-portrait.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/stopping-pattern.css`)

block scripts
  script(src=`${pidStaticBase}/scripts/metro-lcd/platform.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/pre-plat-landscape.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/pre-plat-portrait.mjs` type='module')
  if testing
    script(src=`${pidStaticBase}/scripts/test-data.js`)
    script.
      window.onload = () => {
        let pidType = Object.keys(search.hash)[0] || 'platform'
        let pid
        switch (pidType) {
          case 'pre-plat-landscape':
            pid = new PrePlatformLandscapePID()
            break
          case 'pre-plat-portrait':
            pid = new PrePlatformPortraitPID()
            break
          default:
            pid = new MetroLCDPlatformPID()
            break
        }
        window.pid = pid
        pid.updateServices(window.services)
      }

  for script of extraScripts || []
    script(src=script.src)

block pid
  div.pid.pid-16-9.showing-departure.light
    div#announcements
      img(src=`${pidStaticBase}/img/announcements.svg`)
      p Please Listen For Announcements

    div.line-marker.no-line
    div.next-service-info
      div.next-service-header
        div.left
          span.next-service-sch-time
          span.next-service-destination
        div.right
          span.next-service-platform
          span.next-service-est-time
      div.next-service-pattern-info
        span.next-service-summary
    div.next-service-detail
      div.next-service-pattern
      div.service-message
    div.fixed-message
    div.pid-footer
      table.subsequent-service-info
        mixin serviceRow()
          tr.subsequent-service.no-line.template
            td.service-sch-time
              span {0}
            td.service-destination
              span {1}
            td.service-summary
              span {2}
            td.service-platform
              span {3}
            td.service-est-time
              span {4}
        +serviceRow()
      div.next-service-message
      div.clock