extends ../core/pid

block head
  link(rel='stylesheet' href=`${pidStaticBase}/css/colours.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/half-platform-bold.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/templates/next-service-header.css`)

block scripts
  script(src=`${pidStaticBase}/scripts/metro-lcd/platform.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/half-platform-bold.mjs` type='module')
  if testing
    script(src=`${pidStaticBase}/scripts/test-data.js`)
    script.
      window.onload = () => {
        const pid = new HalfPlatformBoldPID()
        window.pid = pid
        pid.updateServices(window.services)
      }

  for script of extraScripts || []
    script(src=script.src)

block pid
  div.pid.pid-32-9.landscape.showing-departure.light
    div#announcements
      img(src=`${pidStaticBase}/img/announcements.svg`)
      p Please Listen For Announcements

    div#no-trains
      p No trains departing
      p from this platform

    div.fixed-message

    div.line-marker.no-line
    div.next-service-info
      include ./templates/next-service-header
      div.next-service-footer
        span.next-service-summary --
        span.next-service-pattern(style='opacity: 0')
          span --

    div.pid-footer
      div.subsequent-service-info
        mixin serviceRow()
          div.subsequent-service.no-line.template
            div.line-marker
            div.content
              div.top
                //- div.left
                span.service-sch-time {0}
                span.service-destination {1}
                //- div.right
                span.service-est-time {2}
              div.bottom
                span.service-summary {3}
        +serviceRow()
      div.clock