extends ../core/pid

block head
  link(rel='stylesheet' href=`${staticContent}/css/colours.css`)
  link(rel='stylesheet' href=`${staticContent}/css/metro-lcd/base.css`)
  link(rel='stylesheet' href=`${staticContent}/css/metro-lcd/platform.css`)
  link(rel='stylesheet' href=`${staticContent}/css/metro-lcd/stopping-pattern.css`)

block scripts
  script(src=`${staticContent}/scripts/metro-lcd/platform.mjs` type='module')

block pid
  div.pid.pid-16-9.pre-plat.landscape.light
    div.line-marker.no-line
    div.next-service-info
      div.next-service-header
        span.next-service-sch-time
        span.next-service-destination
        span.next-service-platform
        span.next-service-est-time
      div.next-service-pattern-info
        span.next-service-summary
    div.next-service-pattern
    div.pid-footer
      table.subsequent-service-info
        mixin serviceRow()
          tr.subsequent-service.no-line
            td.service-sch-time
              div.service-colour
              span --
            td.service-destination
              span --
            td.service-summary
              span
            td.service-est-time
              span -- min
        +serviceRow()
        +serviceRow()
      div.clock