extends ../core/pid
include ./templates/service-list
include ./templates/next-service-header

block head
  link(rel='stylesheet' href=`${pidStaticBase}/css/colours.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/templates/service-list.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/templates/next-service-header.css`)

block scripts
  script(src=`${pidStaticBase}/scripts/metro-lcd/service-list.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/service-list-area.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/header.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/metro-lcd/clock.mjs` type='module')
  script(src=`${pidStaticBase}/scripts/pid-utils.mjs` type='module')

  for script of extraScripts || []
    script(src=script.src type='module')
 
block pid
  +compactServiceListTemplate()
  +compactMultiServiceListTemplate()
  +serviceHeader('compact template')

  div.pid.pid-16-9.light